fr24key="{{getv "/key"}}"
receiver="beast-tcp"
host="127.0.0.1:30005"
bs="no"
raw="no"
mpx="no"
windowmode="0"
logmode="1"
logpath="/tmp"
mlat="yes"
mlat-without-gps="yes"
use-http="yes"
http-timeout="10"