[client]
network_mode=true
key={{getv "/key"}}
log_file=/tmp/rbfeeder.log

[network]
mode=beast
external_host=127.0.0.1
external_port=30005

[mlat]
autostart_mlat=false
mlat_cmd=

[dump978]
dump978_enabled=false