[client]
network_mode=true
log_file=/tmp/rbfeeder.log
{{- range gets "/*" }}
{{base .Key }}={{ .Value }}
{{- end }}
{{- range gets "/*/dash/*" }}
{{base (dir (dir .Key))}}-{{base .Key }}={{ .Value }}
{{- end }}
{{- range gets "/*/dash/*/dash/*" }}
{{base (dir (dir (dir (dir .Key))))}}-{{base (dir (dir .Key))}}-{{base .Key }}={{ .Value }}
{{- end }}
{{- range gets "/*/dash/*/dash/*/dash/*" }}
{{base (dir (dir (dir (dir (dir (dir .Key))))))}}-{{base (dir (dir (dir (dir .Key))))}}-{{base (dir (dir .Key))}}-{{base .Key }}={{ .Value }}
{{- end }}

[network]
mode=beast
external_host=127.0.0.1
external_port=30005

[mlat]
autostart_mlat=false
mlat_cmd=

[dump978]
dump978_enabled=false